@mixin grid-list-all($value){ padding: $value; }

@mixin grid-list-x($value){ padding-left: $value; padding-right: $value;}

@mixin grid-list-y($value){ padding-top: $value; padding-bottom: $value; }

@mixin grid-list-t($value){ padding-top: $value;}

@mixin grid-list-r($value){ padding-right: $value;}

@mixin grid-list-b($value){ padding-bottom: $value;}

@mixin grid-list-l($value){ padding-left: $value;}

@mixin grid-list-template($value) {
  &> .layout > .flex{ @include grid-list-all($value); }

  &-x > .layout > .flex{
    @include grid-list-x($value);
  }

  &-y > .layout > .flex{
    @include grid-list-y($value); 
  }

  &-t > .layout > .flex{
    @include grid-list-t($value);
  }

  &-r > .layout > .flex{
    @include grid-list-r($value);
  }

  &-b > .layout > .flex{
    @include grid-list-b($value);
  }

  &-l > .layout > .flex{
    @include grid-list-l($value);
  }
}


.#{$prefix}-grid-list-1 {
  @include grid-list-template(3px);
}

.#{$prefix}-grid-list-2 {
  @include grid-list-template(6px);
}

.#{$prefix}-grid-list-3 {
  @include grid-list-template(9px);
}

.#{$prefix}-grid-list-4 {
  @include grid-list-template(12px);
}

.#{$prefix}-grid-list-5 {
  @include grid-list-template(15px);
}

.#{$prefix}-grid-list-6 {
  @include grid-list-template(18px);
}