.#{$prefix}-list {
  @include list-style-reset;
}

.#{$prefix}-list-item {
  display: flex;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #dcdcdc;

  .__avatar {
    display: flex;
    min-width: 40px;
    align-items: center;
  }

  &:last-child {
    border-bottom: none;
  }
}