.#{$prefix}-tab {
  @include list-style-reset;
  
  display: flex;
  &-item {
    font-size: 1.07em;
    padding: 15px;
    cursor: pointer;

    &:hover {
      color: #fff;
      background: #3f51b5;
    }

    &.#{$prefix}-active {
      color: #fff;
      background: #3f51b5;
    }
  }
}