/*
Lacacy of bootstrap
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

.ca-title-1 {
  color: #4d4d4d;
  font-size: 2.5em;
}

.ca-breadcrumbs {
  padding: 0 0 0 3px !important;
  margin: 0 !important;
}

.ca-disabled {
  color: #a5a5a5;
}

.ca-table .tbody tr .td {
  height: 60px !important;
}

table.v-table tbody td,
table.v-table tbody th {
  height: 60px !important;
}

