/*
Lacacy of bootstrap
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

/*@import './variables.scss';*/

.ca-class {
  -webkit-box-shadow: 0px 2px 8px 0px #d2d2d2;
          box-shadow: 0px 2px 8px 0px #d2d2d2;
  border-right: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.ca-class-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*align-items: stretch;*/
}

.ca-class-header .ca- {
  /*&status-box {
        padding-right: 15px;
        text-align: center;
        vertical-align: middle;
        width: 90px;
      }*/
}

.ca-class-header .ca-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-class.ca-completed {
  border-left: 8px solid grey;
}

.ca-class.ca-completed .ca-status {
  color: grey;
}

.ca-class.ca-deleted {
  border-left: 8px solid red;
}

.ca-class.ca-deleted .ca-status {
  color: red;
}

.ca-class.ca-wating {
  border-left: 8px solid #e7b021;
}

.ca-class.ca-wating .ca-status {
  color: #e7b021;
}

.ca-class.ca-inprogress {
  border-left: 8px solid #64d664;
}

.ca-class.ca-inprogress .ca-status {
  color: #64d664;
}

.ca- {
  /*&class {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    &-header {
      display: flex;
      align-items: center;
      margin-bottom: 7px;

      &-name {
        font-size: 1.29em;
      }
    }

    &-footer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }*/
  /*&class.ca-done {
    @extend %colored-indicator;
    border-left-color: #828282;
  }

  &class.ca-ready {
    @extend %colored-indicator;
    border-left-color: #fff33f;
  }

  &class.ca-working {
    @extend %colored-indicator;
    border-left-color: #63d063;
  }

  &class.ca-deleted {
    @extend %colored-indicator;
    border-left-color: #ed3c3c;
  }*/
  /*
   * "c" means "component" this indicator is for a component
   */
}

.ca-title-1 {
  color: #4d4d4d;
  font-size: 2.5em;
}

.ca-title-2 {
  color: #4d4d4d;
  font-size: 2.14em;
}

.ca-title-3 {
  color: #4d4d4d;
  font-size: 1.79em;
}

.ca-title-4 {
  color: #4d4d4d;
  font-size: 1.43em;
}

.ca-title-5 {
  color: #4d4d4d;
  font-size: 1.07em;
}

.ca-typo-meta {
  color: #656565;
  font-size: 0.92em;
}

.ca-typo-stress {
  /*
       * Held off
       */
  font-size: 1.14em;
}

.ca-breadcrumbs {
  padding: 0 0 0 3px !important;
  margin: 0 !important;
}

.ca-disabled {
  color: #a5a5a5;
}

.ca-table .tbody tr .td {
  height: 60px !important;
}

.ca-list {
  padding: 0;
  margin: 0;
  list-style: none;
  /*padding: 0;
    margin: 0;
    list-style: none;*/
}

.ca-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #dcdcdc;
}

.ca-list-item-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-list-item:last-child {
  border-bottom: none;
}

.ca-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-label-title {
  min-width: 50px;
  padding: 7px;
  font-weight: bold;
}

.ca-label-content {
  padding: 7px;
}

.ca-label-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ca-tab {
  padding: 0;
  margin: 0;
  list-style: none;
  /*padding: 0;
    margin: 0;
    list-style: none;*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.ca-tab-item {
  padding: 10px;
  font-size: 1.14em;
  font-weight: bold;
  cursor: pointer;
}

.ca-tab-item:hover {
  background: #3f51b5;
  color: #fff;
  /*padding: 10px;
      font-size: 1.14em;
      font-weight: bold;*/
}

.ca-tab-item.ca-active {
  background: #3f51b5;
  color: #fff;
  /*padding: 10px;
      font-size: 1.14em;
      font-weight: bold;*/
}

.ca-class-group {
  margin-bottom: 70px;
}

.ca-class-group-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-class-group:last-child {
  margin-bottom: 0;
}

.ca-tracking-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ca-tracking-box {
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
}

.ca-tracking-box-title {
  font-size: 0.71em;
}

.ca-tracking-box:last-child {
  margin-left: 0px;
  margin-right: 0px;
}

.ca-c-name {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.ca-button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ca-invoice .ca-invoice-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 14px;
  background: #f1f1f1;
  border-bottom: 1px solid #d8d8d8;
}

.ca-invoice .ca-invoice-body {
  padding: 14px;
}

.ca-invoice .ca-invoice-body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 8px;
}

.ca-invoice .ca-invoice-detail {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
  border-bottom: 1px dashed #aaaaaa;
}

.ca-invoice .ca-invoice-detail .ca-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-invoice .ca-invoice-detail .ca-item .ca-item-name {
  font-size: 1.21em;
}

.ca-invoice .ca-invoice-detail .ca-item .ca-price {
  font-size: 1.21em;
}

/*
 * Overwrite on Vuetify
 */

table.v-table tbody td,
table.v-table tbody th {
  height: 60px !important;
}

/*
 * Overwrite on flag-icon-css
 */

.flag-icon {
  border: 1px solid #e3e3e3;
}

