/*
Lacacy of bootstrap
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
*/

.ca-typo-title-1,
.ca-typo-title-2,
.ca-typo-title-3,
.ca-typo-title-4,
.ca-typo-title-5,
.ca-typo-title-6 {
  font-weight: bold;
  color: #4d4d4d;
}

.ca-typo-title-1 {
  font-size: 2.5em;
}

.ca-typo-title-2 {
  font-size: 2.14em;
}

.ca-typo-title-3 {
  font-size: 1.79em;
}

.ca-typo-title-4 {
  font-size: 1.43em;
}

.ca-typo-title-5 {
  font-size: 1.07em;
}

.ca-typo-title-6 {
  font-size: 0.71em;
}

.ca-typo-1 {
  font-size: 2.5em;
}

.ca-typo-2 {
  font-size: 2.14em;
}

.ca-typo-3 {
  font-size: 1.79em;
}

.ca-typo-4 {
  font-size: 1.43em;
}

.ca-typo-5 {
  font-size: 1.07em;
}

.ca-typo-6 {
  font-size: 0.71em;
}

.ca-typo-style-meta {
  color: #656565;
  font-size: 0.92em;
}

.ca-typo-style-meta-big {
  color: #656565;
  font-size: 1.29em;
}

.ca-typo-style-meta-medium {
  color: #656565;
  font-size: 1em;
}

.ca-typo-style-meta-small {
  color: #656565;
  font-size: 0.86em;
}

.ca-typo-style-blank {
  color: #c6c6c6;
}

.ca-breadcrumbs {
  padding: 0 0 0 3px !important;
  margin: 0 !important;
}

.ca-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ca-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 7px;
  margin-bottom: 7px;
  border-bottom: 1px solid #dcdcdc;
}

.ca-list-item .__avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-list-item:last-child {
  border-bottom: none;
}

.ca-table {
  width: 100%;
  border-collapse: collapse;
}

.ca-table.ca-border tr td {
  border: 1px solid #aaaaaa;
}

.ca-table thead tr {
  border-bottom: 1px solid #aaaaaa;
  height: 35px;
}

.ca-table td {
  padding: 10px 0;
}

.ca-student-class-group {
  margin-bottom: 70px;
}

.ca-student-class-group:last-child {
  margin-bottom: 0;
}

.ca-student-class-item {
  -webkit-box-shadow: 0px 1px 1px 0px #d2d2d2;
          box-shadow: 0px 1px 1px 0px #d2d2d2;
  border-right: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px;
}

.ca-student-class-item .__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-student-class-item .__header .__title-box .__date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ca-student-class-item._completed {
  border-left: 8px solid grey;
}

.ca-student-class-item._completed .__status {
  color: grey;
}

.ca-student-class-item._deleted {
  border-left: 8px solid red;
}

.ca-student-class-item._deleted .__status {
  color: red;
}

.ca-student-class-item._wating {
  border-left: 8px solid #e7b021;
}

.ca-student-class-item._wating .__status {
  color: #e7b021;
}

.ca-student-class-item._inprogress {
  border-left: 8px solid #64d664;
}

.ca-student-class-item._inprogress .__status {
  color: #64d664;
}

.ca-completed {
  border-left: 8px solid grey;
}

.ca-completed .__status {
  color: grey;
}

.ca-deleted {
  border-left: 8px solid red;
}

.ca-deleted .__status {
  color: red;
}

.ca-wating {
  border-left: 8px solid #e7b021;
}

.ca-wating .__status {
  color: #e7b021;
}

.ca-inprogress {
  border-left: 8px solid #64d664;
}

.ca-inprogress .__status {
  color: #64d664;
}

.ca-menu-tracker {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ca-menu-tracker .__work {
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
}

.ca-menu-tracker .__work:last-child {
  margin-left: 0px;
  margin-right: 0px;
}

.ca-menu-action {
  margin-bottom: 5px;
}

.ca-menu-action .__button-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ca-menu-action .__button-list .__button {
  text-align: center;
}

.ca-invoice-item {
  -webkit-box-shadow: 0px 1px 1px 0px #d2d2d2;
          box-shadow: 0px 1px 1px 0px #d2d2d2;
  border: 1px solid #d2d2d2;
}

.ca-invoice-item .__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7px 14px;
  background: #f1f1f1;
  border-bottom: 1px solid #d8d8d8;
}

.ca-invoice-item .__body {
  padding: 14px;
}

.ca-invoice-item .__body .__detail {
  padding: 0;
  margin: 0;
  list-style: none;
  padding-bottom: 15px !important;
  margin-bottom: 15px !important;
  border-bottom: 1px dashed #aaaaaa;
  /*.__item {
        display: flex;
        align-items: center;

        .__name {
          font-size: 1.21em;
        }

        .__price {
          font-size: 1.21em;
        }
      }*/
}

.ca-invoice-item .__body .__detail .__item-name {
  width: auto;
}

.ca-invoice-item .__body .__detail .__item-term {
  width: 25%;
}

.ca-invoice-item .__body .__detail .__item-quantity {
  width: 6%;
}

.ca-invoice-item .__body .__detail .__item-price {
  width: 13%;
}

.ca-invoice-item .__body .__detail .__item-total {
  width: 15%;
}

.ca-invoice-item .__body .__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ca-invoice-item .__body .__result .__result-meta {
  margin-right: 15px;
}

.ca-invoice-item .__body .__result .__result-meta:last_child {
  margin-right: 0px;
}

.ca-filter-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 25px 0;
}

.ca-filter-box .__check-box {
  -webkit-box-flex: 0 !important;
      -ms-flex: none !important;
          flex: none !important;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 0px;
}

.ca-filter-box .__check-box:last-child {
  margin-right: 0px;
}

.ca-grid-list-1 > .layout > .flex {
  padding: 3px;
}

.ca-grid-list-1-x > .layout > .flex {
  padding-left: 3px;
  padding-right: 3px;
}

.ca-grid-list-1-y > .layout > .flex {
  padding-top: 3px;
  padding-bottom: 3px;
}

.ca-grid-list-1-t > .layout > .flex {
  padding-top: 3px;
}

.ca-grid-list-1-r > .layout > .flex {
  padding-right: 3px;
}

.ca-grid-list-1-b > .layout > .flex {
  padding-bottom: 3px;
}

.ca-grid-list-1-l > .layout > .flex {
  padding-left: 3px;
}

.ca-grid-list-2 > .layout > .flex {
  padding: 6px;
}

.ca-grid-list-2-x > .layout > .flex {
  padding-left: 6px;
  padding-right: 6px;
}

.ca-grid-list-2-y > .layout > .flex {
  padding-top: 6px;
  padding-bottom: 6px;
}

.ca-grid-list-2-t > .layout > .flex {
  padding-top: 6px;
}

.ca-grid-list-2-r > .layout > .flex {
  padding-right: 6px;
}

.ca-grid-list-2-b > .layout > .flex {
  padding-bottom: 6px;
}

.ca-grid-list-2-l > .layout > .flex {
  padding-left: 6px;
}

.ca-grid-list-3 > .layout > .flex {
  padding: 9px;
}

.ca-grid-list-3-x > .layout > .flex {
  padding-left: 9px;
  padding-right: 9px;
}

.ca-grid-list-3-y > .layout > .flex {
  padding-top: 9px;
  padding-bottom: 9px;
}

.ca-grid-list-3-t > .layout > .flex {
  padding-top: 9px;
}

.ca-grid-list-3-r > .layout > .flex {
  padding-right: 9px;
}

.ca-grid-list-3-b > .layout > .flex {
  padding-bottom: 9px;
}

.ca-grid-list-3-l > .layout > .flex {
  padding-left: 9px;
}

.ca-grid-list-4 > .layout > .flex {
  padding: 12px;
}

.ca-grid-list-4-x > .layout > .flex {
  padding-left: 12px;
  padding-right: 12px;
}

.ca-grid-list-4-y > .layout > .flex {
  padding-top: 12px;
  padding-bottom: 12px;
}

.ca-grid-list-4-t > .layout > .flex {
  padding-top: 12px;
}

.ca-grid-list-4-r > .layout > .flex {
  padding-right: 12px;
}

.ca-grid-list-4-b > .layout > .flex {
  padding-bottom: 12px;
}

.ca-grid-list-4-l > .layout > .flex {
  padding-left: 12px;
}

.ca-grid-list-5 > .layout > .flex {
  padding: 15px;
}

.ca-grid-list-5-x > .layout > .flex {
  padding-left: 15px;
  padding-right: 15px;
}

.ca-grid-list-5-y > .layout > .flex {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ca-grid-list-5-t > .layout > .flex {
  padding-top: 15px;
}

.ca-grid-list-5-r > .layout > .flex {
  padding-right: 15px;
}

.ca-grid-list-5-b > .layout > .flex {
  padding-bottom: 15px;
}

.ca-grid-list-5-l > .layout > .flex {
  padding-left: 15px;
}

.ca-grid-list-6 > .layout > .flex {
  padding: 18px;
}

.ca-grid-list-6-x > .layout > .flex {
  padding-left: 18px;
  padding-right: 18px;
}

.ca-grid-list-6-y > .layout > .flex {
  padding-top: 18px;
  padding-bottom: 18px;
}

.ca-grid-list-6-t > .layout > .flex {
  padding-top: 18px;
}

.ca-grid-list-6-r > .layout > .flex {
  padding-right: 18px;
}

.ca-grid-list-6-b > .layout > .flex {
  padding-bottom: 18px;
}

.ca-grid-list-6-l > .layout > .flex {
  padding-left: 18px;
}

.ca-tab {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ca-tab-item {
  font-size: 1.07em;
  padding: 15px;
  cursor: pointer;
}

.ca-tab-item:hover {
  color: #fff;
  background: #3f51b5;
}

.ca-tab-item.ca-active {
  color: #fff;
  background: #3f51b5;
}

.ca-pop-menu {
  padding: 0;
  margin: 0;
  list-style: none;
}

.ca-pop-menu > li {
  padding: 7px;
  font-size: 1.143em;
}

.ca-block {
  width: 100% !important;
}

.ca-label label {
  line-height: 25px !important;
  padding-bottom: 3px !important;
}

.cadisabled {
  color: #a5a5a5;
}

.catable .tbody tr .td {
  height: 60px !important;
}

.calabel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calabel-title {
  min-width: 50px;
  padding: 7px;
  font-weight: bold;
}

.calabel-content {
  padding: 7px;
}

.calabel-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catab {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.catab-item {
  padding: 10px;
  font-size: 1.14em;
  font-weight: bold;
  cursor: pointer;
}

.catab-item:hover {
  background: #3f51b5;
  color: #fff;
}

.catab-item.ca-active {
  background: #3f51b5;
  color: #fff;
}

.catracking-container {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.catracking-box {
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
}

.catracking-box-title {
  font-size: 0.71em;
}

.catracking-box:last-child {
  margin-left: 0px;
  margin-right: 0px;
}

/*
 * Overwrite on Vuetify
 */

table.v-table tbody td,
table.v-table tbody th {
  height: 60px !important;
}

/*
 * Overwrite on flag-icon-css
 */

.flag-icon {
  border: 1px solid #e3e3e3;
}

