$tracker: #{$prefix}-menu-tracker;

.#{$tracker} {
  margin-top: 10px;
  display: flex;
  justify-content: center;

  .__work {
    margin-left: 7px;
    margin-right: 7px;
    text-align: center;

    &:last-child {
      margin-left: 0px;
      margin-right: 0px;
    }
  }
}