$ds-prefix: #{$prefix}-dashboard-section;

.#{$ds-prefix} {

  .#{$ds-prefix}-title {
    height: 60px;
    text-align: center;
    justify-content: center;

    span {
      color: #fff;
      font-size: 1.1em;
      /*font-size: 2em;*/
    }
  }

  .#{$ds-prefix}-text {
    display: flex;
    height: 275px;
  }

  .#{$ds-prefix}-noinfo {
    flex: 1 1 auto;
    align-self: center;

    span { 
      color: #d6d6d6;
    }
  }

  .#{$ds-prefix}-loading-box {
    flex: 1 1 auto; 
    display: flex;
    align-items: center;
    justify-content: center;
  }
}